.wrapper {
  width: 100%;
  background-color: #202020;

  .container {
    height: 120px;
    max-width: 740px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;

    .content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .textBlock {
        color: #fff;

        p:first-of-type {
          font-family: "Helvetica Neue Bold", sans-serif;
          text-transform: uppercase;
          margin-bottom: 10px;
          font-size: 24.5px;
        }

        p:last-of-type {
          font-family: "Helvetica Neue Light", sans-serif;
          font-size: 17px;
        }
      }

    }

    @media (max-width: 768px) {
      padding: 30px 20px;
      height: unset;

      .content {
        display: block;

        .textBlock p {
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }

  }
}
