$orange: #ff6c39;

.button {
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue Roman", sans-serif;
  background-color: $orange;
  padding: 18px 30px;
  font-size: 16px;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  transition: all 200ms;
  border:1px transparent solid;
}

.button:hover {
  background-color: $orange * 0.9;
  text-decoration: none;
}

.buttonNotActive:hover {
  background-color: $orange * 0.9;
  text-decoration: none;
  color:#fff;
}

.buttonNotActive {
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue Roman", sans-serif;
  padding: 18px 30px;
  font-size: 16px;
  color: $orange;
  border-radius: 6px;
  text-align: center;
  transition: all 200ms;
  background-color: #fff;
  border:1px $orange * 0.9 solid;
}

a.button {
  color: #fff;
}

a.button:visited {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .button {
    box-sizing: border-box;
    width: 100%;
    box-shadow: -1.71px 4.698px 16px 0px rgba(23, 23, 23, 0.17);
    font-size: 14px!important;
  }
  .button span {
    font-size: 14px;
  }
}


