.forumAboutBlock {
  .wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    .container {
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      height: 500px;

      img {
        object-fit: cover;
        box-shadow: -14.444px 19.167px 27px 0px rgba(23, 23, 23, 0.08);

        &.leftImg {
          height: 500px;
          width: 660px;
          position: absolute;
          left: -360px;
        }

        &.rightImg {
          margin-left: 310px;
          height: 500px;
          width: 350px;
        }
      }

      .textContent {
        padding: 0 20px 0 80px;

        .boldTitle {
          font-family: "Helvetica Neue Bold";
          margin:30px 0;
          text-align: justify;
        }

        ul {
          font-family: "Helvetica Neue Light";
          list-style: none;
          padding: 0;

          li:before {
            content:'-';
            padding-right: 10px;
          }
        }

        .boldSubtitle {
          font-family: "Helvetica Neue Light";
          margin-bottom: 30px;
        }

      }

      @media (max-width: 1200px) {
        .textContent {
          padding: 0 20px;
        }

        img {
          &.leftImg {
            width: 50%;
            max-width: 660px;
            position: relative;
            left: unset;
          }

          &.rightImg {
            display: none;
          }
        }

        .textContent {
          margin-bottom: 40px;
        }

      }

      @media (max-width: 670px) {
        flex-direction: column-reverse;
        height: unset;
        img {
          &.leftImg {
            border-radius: 0;
            height: calc(100vw * 0.87);
            width: 100vw;
          }
        }
        .textContent p {
          margin: 20px 0;
        }
      }

    }
  }
}


.flex {
  display: flex;

  .partnerShip {
    margin:0 auto;
  }
}