.wrapper {
  max-width: 1920px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  background: center no-repeat url("../../../../img/events/wedding/weddingPageBanner.jpg");
}