.contentWrapper {
  max-width: 1920px;
  width: 100%;
  margin: 90px auto 0;
  padding: 90px 0 0;

  .container {
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    .topRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 30px;

      h1.title {
        width: 480px;

        span {
          text-transform: uppercase;
          display: block;
          line-height: 1.6;
        }

        span:first-of-type {
          text-transform: none;
          font-family: "Helvetica Neue Medium";
          font-size: 23px;
          position: relative;
          width: fit-content;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 1px;
            background-color: #171717;
            top: 40%;
            right: -70px;
          }
        }

        span:last-of-type {
          font-family: "Helvetica Neue Black";
          font-size: 40px;
          line-height: 1.1;
        }

        @media (max-width: 500px) {
          width: fit-content;

          span:first-of-type {
            font-size: 18px;
          }
          span:last-of-type {
            font-size: 11.2vw;
          }
        }

        @media (max-width: 1024px) {
          margin-bottom: 20px;
        }

      }

      .textContent {
        padding: 0 20px;
        text-align: justify;
        width: 60%;
        position: relative;

        p {
          font-size: 15px;
          line-height: 1;
        }

        .btn {
          margin-top: 15px;
          text-decoration: underline;
          cursor: pointer;
        }

        .description {
          z-index: -1;
          opacity: 0;
          max-width: 625px;
          width: 100%;
          position: absolute;
          box-sizing: border-box;
          padding: 30px;
          bottom: -20px;
          transform: translateY(100%);
          box-shadow: 0px 4px 27px 0px rgba(23, 23, 23, 0.52);
          background-color: rgb(246, 246, 246);
          transition: opacity 200ms;

          .closeBtn {
            color:#898989;
            font-size: 14px;
            text-decoration: underline;
            font-family: "Helvetica Neue Bold", sans-serif;
            cursor: pointer;
            margin: 0;
          }

          p {
            margin-bottom: 20px;
          }

          ul {
            li {
              list-style-type: "–  ";
              margin-bottom: 20px;
            }
          }

          &.active {
            z-index: 1;
            opacity: 1;
          }

          img {
            width: 50px;
            margin-bottom: 15px;
          }
        }

      }

      @media (max-width: 1024px) {
        display: block;
        //padding: 0 20px;
        .textContent {
          box-sizing: border-box;
          width: 100%;
          padding: 0;
        }
        h4.title {
          display: inline-block;
          width: fit-content;
          padding-left: 20px;
        }
      }

      @media (max-width: 500px) {
        padding: 0;
        display: block;
      }

    }

    .flexWrapper {
      box-sizing: border-box;
      display: flex;
      margin-top: 110px;
      padding: 0 30px;

      .col {
        margin-right: 60px;
        @media (min-width: 1025px) {max-width: 50%;}
        @media (max-width: 700px) {
          margin-bottom: 50px;
          width: 100%;
          &:last-child {
            margin-right: 0;
            margin-bottom: 0;

          }
        }

        @media (min-width: 700px) and (max-width: 1024px) {
          &:first-child {
            margin-bottom: 30px;
          }
        }



        h3 {
          margin-bottom: 20px;
        }

        ul {
          padding-left: 0;
          li {
            margin-bottom: 13px;
            padding-left: 28px;
            list-style: none;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 17px;
          }
        }
      }

      @media (max-width: 1024px) {
        padding: 0;
        flex-wrap: wrap;
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;

      }
    }
  }
}
