.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper p {
  margin: 1em 0;
}

.miniSliderWrapper {
  margin-bottom: 20px;
  width: 900px;
  float: right;
}

.wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: no-repeat center url(../../../../img/specials-slider/specials-bg.jpg);
}

.container {
  box-sizing: border-box;
  position: relative;;
  padding-top: 190px;
  max-width: 1200px;
  height: 565px;
  width: 100%;
  margin: 0 auto;
  //border: thin solid black;
}

.wrapper.lastOfTwo .rightBlock {
  top: 8%
}

.wrapper.lastOfTwo .container {
  padding-top: 150px;
  height: 550px;
}

.leftBlock {
  box-sizing: border-box;
  width: 420px;
  padding: 0 25px 0 15px;
}

.leftBlock p {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16px;
  text-align: justify;
}

.leftBlock a {
  font-size: 14px;
  font-family: "Helvetica Neue Roman", sans-serif;
}

.leftBlock a img {
  width: 18px;
  //height: 5px;
  position: relative;
  top: 4px;
  margin-left: 5px;
}

.rightBlock {
  position: absolute;
  overflow: hidden;
  width: 1165px;
  height: unset;
  top: 80px;
  right: -385px;
}

@media screen and (max-width: 1200px) {

  .leftBlock {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .leftBlock p {
    margin-bottom: 10px;
  }

  .rightBlock {
    overflow: visible;
    position: relative;
    width: 100%;
    height: unset;
    bottom: unset;
    right: unset;
    top: 0;
  }

  .wrapper:before {
    display: none;
  }

  .wrapper.lastOfTwo:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../../../../img/specials-slider/specials-bg-mobile.jpg);
    background-position: left;
    background-size: cover;
    opacity: 0.4;
  }

  .wrapper .container {
    padding-top: 0px;
  }
  .wrapper.lastOfTwo .container {
    padding-top: 50px;
  }
  .wrapper.lastOfTwo .container, .wrapper .container{
    height: unset;
    padding-bottom: 35px;
  }

  .miniSliderWrapper {
    margin: 0 auto;
    margin-bottom: 20px;
    width: fit-content;
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .miniSliderWrapper {
    margin: 0 auto;
    width: fit-content;
    float: right;
    padding-right: 20px;
  }
  .leftBlock {
    margin-bottom: 8px;
  }
  .leftBlock p {
    margin-bottom: 0px;
  }
  .rightBlock {
    top: unset;
  }
}

@media screen and (max-width: 480px) {
  .leftBlock p {
    font-size: 14px;
  }
}










