.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  .container {
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    .sliderWrapper {
      margin: 0 auto;
    }

    .iconWrapper {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding: 0 40px;
      max-width: 240px;

      img {
        width:100%;
        filter: saturate(0);
        transition: 300ms;
      }

      img:hover {
        filter:saturate(1);
      }

      @media (max-width: 1000px) {
        flex-direction: row;
        max-width: 250px;
        width: fit-content;
        padding: 0 20px;

      }

    }


  }
}