.card {
  width: calc(325px * 0.88);
  height: calc(485px * 0.88);
  position: relative;
  margin: 0 15px;
  border-radius: 5px;
  box-shadow: -14.444px 19.167px 27px 0px rgba(23, 23, 23, 0.14);
  transition: all 300ms;
}

@media (min-width: 480px) {
  .card.active {
    transform: scale(1.08);
  }
}

.card .img {
  border-radius: 5px;
  object-fit: cover;
  height: 100%;
}

.content {
  position: absolute;
  bottom: 20px;
  left: 25px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  transform-origin: 0 100% 0;
}

.content * {
  font-family: "Bebas Neue Book", sans-serif;
}

.firstLine, .secondLine {
  font-family: "Bebas Neue Bold", sans-serif;
  line-height: 0.9;
  margin: 0;
}


@media screen and (max-width: 480px) {
  .card {
    width: 65vw;
    height: calc(65vw * 1.4);
    position: relative;
    margin: 0 0 0 20px;
    box-shadow: -14.444px 19.167px 27px 0px rgba(23, 23, 23, 0.14);
  }

  .content {
    transform: scale(0.9);
  }

}

@media screen and (max-width: 425px) {
  .content {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 375px) {
  .content {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 320px) {
  .content {
    transform: scale(0.6);
  }
}

.roomSubtitle {
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 20px;
}

.roomTitle {
  font-family: "Bebas Neue Bold", sans-serif;
  font-size: 43px;
  margin-bottom: 8px;
  line-height: 1;
}

.imgContainer {
  text-transform: none;
  display: inline-flex;
  flex-wrap: nowrap;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  align-items: center;
  &:first-of-type {
    margin-right: 23px !important;
  }
  img {
    margin-right: 10px !important;
    width: 30px !important;
  }
  sup {
    font-family: "Helvetica Neue", sans-serif;
  }
}



