.wrapper {
  max-width: 1920px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;



  .container {
    display: flex;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 40px auto;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    height:380px;
    box-shadow: -6.156px 16.914px 27px 0px rgba(23, 23, 23, 0.05);
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.rightSide {
  max-width: 590px;
  margin:60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftSide {
  height: 390px;
}

.leftSide img {
  height:380px;
  width:100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rightSide p {
  margin:30px 0 0;
  max-width: 480px;
  text-align: justify;
  font-size: 16px;
  font-family: 'Helvetica Neue';
  font-weight: 400;
}