
.wrapper {
  box-sizing: border-box;
  max-width: 1920px;
  height: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 90px;
  * {
    color: #fff;
    text-align: center;
  }
  @media (max-width: 768px) {
    margin-top: 70px;
  }

  .subtitle {
    font-size: 65px;
    font-family: "Helvetica Neue Bold", sans-serif;
  }

  .digits {
    .digit {
      font-size: 240px;
      font-family: "Helvetica Neue Bold", sans-serif;
      position: relative;
      display: inline-block;
      top: -60px;
      letter-spacing: -40px;
      &:last-child {
        left: -65px
      }
      z-index: 0;
    }
  }

  img {
    position: relative;
    width: 300px;
    margin-top: -62px;
    margin-left: -35px;
    z-index: 1;
  }

  .topText, .bottomText {
    max-width: 520px;
    margin: 0 auto;
    position: relative;

  }
  .topText {
    top: -90px;
    * {
      font-size: 21px;
    }
  }

  .bottomText {
    font-size: 20px;
    max-width: 400px;
    top: -72px;
    .link, a {
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      //text-decoration: underline;
      border-bottom: 1px solid white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    //transform: scale(0.5);
    zoom: 0.6;
    background: no-repeat;
  }
}
