@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.scrollBtn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  zoom: 0.9;
  &.black * {
    color: #000;
    border-color: #000 !important;
    .mouse span {
      background-color: #000;
    }
  }
}
.scrollBtn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}
.scrollBtn > *:hover,
.scrollBtn > *:focus,
.scrollBtn > *.active {
  color: #ffffff;
}
.scrollBtn > *:hover,
.scrollBtn > *:focus,
.scrollBtn > *:active,
.scrollBtn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scrollBtn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}
.scrollBtn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 6px;
  height: 9px;
  transform: translateX(-50%);
  background: white;
  border-radius: 5px;
  animation: ani-mouse 2.5s linear infinite;
}
