.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-top: 180px;

  .container {
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;

    .topRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 0 10px;

      h2.title {
        //display: inline-block;
        width: 480px;

        span {
          text-transform: uppercase;
          display: block;
          line-height: 1.6;
        }

        span:first-of-type {
          text-transform: none;
          font-family: "Helvetica Neue Medium";
          font-size: 23px;
          position: relative;
          width: fit-content;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 1px;
            background-color: #171717;
            top: 45%;
            right: -70px;
          }
        }

        span:last-of-type {
          font-family: "Helvetica Neue Black";
          font-size: 45px;
          line-height: 1.1;
        }

        @media (max-width: 500px) {
          width: fit-content;

          span:first-of-type {
            font-size: 18px;
          }
          span:last-of-type {
            font-size: 11.2vw;
          }
        }

        @media (max-width: 1024px) {
          margin-bottom: 20px;
        }

      }

      .textContent {
        padding: 0 20px;
        text-align: justify;
        width: 60%;
        position: relative;

        .btn {
          margin-top: 15px;
          text-decoration: underline;
          cursor: pointer;
        }

        .description {
          z-index: -1;
          opacity: 0;
          max-width: 625px;
          width: calc(100%);
          position: absolute;
          box-sizing: border-box;
          padding: 30px;
          bottom: -20px;
          transform: translateY(100%);
          box-shadow: 0px 4px 27px 0px rgba(23, 23, 23, 0.52);
          background-color: rgb(246, 246, 246);
          transition: opacity 200ms;

          p {
            margin-bottom: 20px;
          }

          ul {
            li{list-style-type:"–  ";}
          }

          &.active {
            z-index: 1;
            opacity: 1;
          }
          img {
            width: 68px;
            margin-bottom: 15px;
          }
        }

      }

      @media (max-width: 1024px) {
        display: block;
        //padding: 0 20px;
        .textContent {
          box-sizing: border-box;
          width: 100%;
          padding: 0;
        }
        h4.title {
          display: inline-block;
          width: fit-content;
          //padding-left: 20px;
        }
      }

      @media (max-width: 500px) {
        padding: 0;
        display: block;
      }

    }

    .tabsWrapper {
      display: flex;
      margin: 60px auto 60px;
      max-width: 540px;
      justify-content: space-between;
      cursor: pointer;

      .tab {
        font-family: "Helvetica Neue Medium", sans-serif;
        padding: 0 10px;
        margin-bottom: 2px;
        color: #a5acae;
        cursor: not-allowed;
        &.active {
          color: #000;
          cursor: pointer;
          text-decoration: underline;
        }
      }

      @media screen and (max-width: 600px) {
        display: block;
        margin: 30px auto 30px;

      }

    }

    .cardsContainer {
      display: flex;
      flex-wrap: wrap;

      .card {
        box-sizing: border-box;
        width: 33.33%;
        padding: 0 18px;
        margin-bottom: 40px;
        position: relative;

        .note {
          text-transform: uppercase;
          background-color: rgba(255, 255, 255, 0.7);
          font-family: "Helvetica Neue Medium", sans-serif;
          padding: 20px 35px 3px 15px;
          position: absolute;
          top: 38%;
          left: 18px;
          &:after {
            content: '';
            display: block;
            background-color: #d45a2f;
            width: 16px;
            height: 4px;
            position: relative;
            top: -28px;
            left: 0;
          }
        }

        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          margin-bottom: 20px;
          border-radius: 6px;
        }

        h3 {
          font-size: 20px;
        }

        p {
          text-align: justify;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        h3, p {
          margin-bottom: 20px;
        }

        @media (max-width: 1000px) {
          padding: 0 12px;
          img {height: 180px}
          .note {top: 28%; left: 12px}
        }
        @media (max-width: 900px) {
          padding: 0 12px;
        }
        @media (max-width: 900px) {
          width: 47.5%;
        }
        @media (max-width: 500px) {
          padding: 0;
          img {height: 120px}
          h3, p {
            margin-bottom: 10px;
          }
          .note {
            top: 20%;
            left: 0;
            font-size: 13px;
            padding: 17px 28px 3px 10px;
            &:after {
              top: -24px
            }
          }
        }

      }


      @media (max-width: 500px) {
        justify-content: space-between;
      }

    }


  }

  @media (max-width: 1024px) {
    padding-top: 100px;
  }

}
