.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 500px;

    img {
      object-fit: cover;
      border-radius: 5px;
      box-shadow: -14.444px 19.167px 27px 0px rgba(23, 23, 23, 0.08);

      &.leftImg {
        height: 500px;
        width: 660px;
        position: absolute;
        left: -360px;
        top: 0;
      }

      &.rightImg {
        margin-left: 330px;
        height: 500px;
        width: 350px;
      }

      &.menuPriceImg {
        position: absolute;
        left: 610px;
        top: 30px;
        box-shadow: none;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .textContent {
      padding: 0 20px 0 80px;

      p {
        margin-top: 30px;
        text-align: justify;
        margin-bottom: 30px;
      }

    }

    @media (max-width: 1200px) {
      height: unset;
      .textContent {
        padding: 0 20px;
        overflow: hidden;
      }

      img {
        &.leftImg {
          width: 100%;
          max-width: unset;
          position: relative;
          left: unset;
          margin-bottom: 20px;
        }

        &.rightImg {
          display: none;
        }
      }

      .textContent {
        margin-bottom: 40px;
      }

    }

    @media (max-width: 670px) {
      flex-direction: column-reverse;
      height: unset;
      img {
        &.leftImg {
          border-radius: 0;
          height: calc(100vw * 0.87);
          width: calc(100% + 40px);
          margin-left: -20px;
        }
      }
      .textContent {
        margin-bottom: 0;

        p {
          margin: 20px 0;

        }

      }
    }

  }
}
