.wrapper {
  width: 100%;
  height: 765px;
  background: #f8f8f8;
  padding-top: 65px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img text";
  max-width: 1200px;
  margin: 0 auto;
}

.imageBlock form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.57);
  box-shadow: 0px 4px 27px 0px rgba(23, 23, 23, 0.52);
  position: absolute;
  width: 334px;
  height: 259px;
  top: 10px;
  right: 40px;
  padding: 40px;
  z-index: 10;
}

.imageBlock input {
  border: none;
  width: available;
  display: block;
  padding: 18px 40px;
  font-size: 16px;
}

.imageBlock input::placeholder {
  color: #b2b2b2;
}


.imageBlock {
  grid-area: img;
  display: flex;
  align-items: center;
  background: #d7d7d7;
  width: 538px;
  height: 695px;
  position: relative;
  border-radius: 5px;
}

.imageBlock img {
  position: absolute;
  right: 7px;
}

.textBlock {
  grid-area: text;
  display: flex;
  align-items: center;
  padding: 0 30px 0 30px;
}

.textBlock h3 {
  font-size: 25.5px;
  text-transform: uppercase;
}


.textBlock h3 div {
  position: relative;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 38px;
  margin-top: 6px;
}

.textBlock h3 div:before {
  content: "";
  width: 74px;
  height: 1px;
  background: #000;
  position: absolute;
  top: -25px;
  left: 187px;
}

.textBlock p {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.25;
  text-align: justify;
}

.textBlock p.bottom {
  line-height: 1;
  font-size: 20px;
  margin-top: 40px;
}

.textBlock li {
  list-style: none;
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 13px;
}

.textBlock li span {
  font-weight: 900;
}

.textBlock li:before {
  display: inline-block;
  position: relative;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ff6c39;
  margin-right: 1em;
  bottom: 3px;
}

.button {
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  padding: 0 20px;
  color: #fff;
  border: none 0px;
  background: #4273b3;
  width: 275px;
  height: 63px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button a {
  text-decoration: none;
}
.button a:visited {
  color: #fff
}
.button:hover {
  background: #335685;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    padding-top: 0;
    padding-bottom: 335px;
    background-color: #ededed;
  }

  .grid {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "text" "img";

  }

  .imageBlock {
    grid-area: img;
    display: flex;
    align-items: center;
    background: #d7d7d7;
    width: 100%;
    height: 320px;
    position: relative;
    border-radius: 5px;
  }

  .imageBlock form {
    bottom: -295px;
    width: 100%;
    top: unset;
    right: unset;
    background: #fefcfc;
    box-shadow: none;
    padding: 40px 30px;

  }

  .imageBlock form input {
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 4px 16px 0px rgba(32, 35, 35, 0.1);
  }


  .imageBlock img {
    object-fit: cover;
    width: 100%;
    height: calc(100% - 30px);
    position: relative;
    right: 0;
  }

  .textBlock {
    padding: 40px 20px 0;
  }

  .textBlock button {
    margin: 0 auto;
  }

  .textBlock p {
    margin-bottom: 30px;
  }
}