.weddingFirstBlockWrapper {
  width: 100%;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    height: 595px;
    padding-right: 80px;
    //overflow: hidden;

    .background {
      position: absolute;
      z-index: -1;
      height: 465px;
      background-color: #f6f6f6;
      width: 100vw;
      right: 150px;
      top: 50%;
      transform: translateY(-50%);
    }

    .textContent {
      padding: 100px 110px 100px 100px;

      p {
        text-align: justify;
      }

      h5 {
        margin-top: 25px;
        margin-bottom: 10px;
      }
    }

    img {
      width: 500px;
      height: 595px;
      object-fit: cover;
      box-shadow: -9.629px 12.778px 27px 0px rgba(23, 23, 23, 0.09);
    }

  }

  @media screen and (max-width: 1200px) {
    .container {
      padding-right: 0;

      .textContent {
        padding: 0 20px;
        margin-bottom: 20px;
      }

      img {
        max-width: 50%;
      }

    }

  }

  @media screen and (max-width: 768px) {

    .container {
      display: block;
      padding: 30px 0 30px 0;
      height: unset;
      background-color: #f7f7f7;

      .background {
        display: none;
      }

      .textContent {
        padding: 0 0 0 20px;
        margin-bottom: 20px;

        p {
          padding-right: 20px;
        }
      }

      img {
        max-width: 100%;
        width: 100vw;
        height: calc(100vw * 1.07);
        position: relative;
      }

    }

  }

}

.weddingPriceBlock {
  .wrapper {
    max-width: 1920px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background: center no-repeat url(../../../../img/events/wedding/weddingPriceBlock.jpg);
    background-size: cover;


    @media (max-width: 500px) {
      height: unset;
      background: center no-repeat url(../../../../img/events/wedding/weddingPriceBlock-mob.jpg);
      background-size: cover;
    }

    .container {
      box-sizing: border-box;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 145px 0 0 35px;

      @media (max-width: 500px) {
        padding: 60px 20px 50px;
      }

      h4.title {

        span {
          text-transform: uppercase;
          display: block;
          line-height: 1.6;
        }

        span:first-of-type {
          text-transform: none;
          font-family: "Helvetica Neue Medium";
          font-size: 27px;
          position: relative;
          width: fit-content;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 1px;
            background-color: #171717;
            top: 40%;
            right: -70px;
          }
        }

        span:nth-child(2) {
          font-family: "Helvetica Neue Black";
          font-size: 24px;
        }

        span:last-of-type {
          font-family: "Helvetica Neue Black";
          font-size: 60px;
          line-height: 1.2;
          margin-bottom: 20px;
        }

        @media (max-width: 500px) {
          span:first-of-type {
            font-size: 16px;
          }
          span:nth-child(2) {
            font-size: 4.6vw;
          }
          span:last-of-type {
            font-size: 11.3vw;
          }
        }
      }

      p {
        font-family: "Helvetica Neue Roman";
        font-size: 16px;
        max-width: 390px;
        margin-bottom: 30px;

        @media (max-width: 500px) {
          max-width: 100%;
        }
      }

      form {
        width: 360px;

        input {
          width: 100%;
          margin-bottom: 25px;
        }

        @media (max-width: 500px) {
          width: 100%;
          margin-top: 330px;

          input {
            margin-bottom: 10px;
          }
        }
      }

    }
  }
}

.weddingIconsBlock {

  .wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    .container {
      box-sizing: border-box;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;

      .sliderWrapper {
        max-width: 940px;
        margin: 0 auto;
      }

      .iconWrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 40px;

        img {
          width: 55px;
          filter: brightness(0);
          margin-bottom: 20px;
        }

        p {
          font-family: "Helvetica Neue Roman";
          text-align: center;
        }

        @media (max-width: 1000px) {
          flex-direction: row;
          max-width: 200px;
          width: fit-content;
          padding: 0 20px;

          img {
            margin-bottom: 0;
            margin-right: 10px;
            height: 55px;
            width: unset;
          }

          p {
            text-align: left;
          }
        }

      }


    }
  }
}

.weddingOrganizationBlock {
  .wrapper {
    max-width: 1920px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background: center no-repeat url(../../../../img/events/wedding/weddingOrganizationBlock.jpg);
    background-size: cover;

    @media (max-width: 500px) {
      height: unset;
      background: center no-repeat url(../../../../img/events/wedding/weddingOrganizationBlock-mob.jpg);
      background-size: cover;
      background-position: 0px;
    }

    .container {
      box-sizing: border-box;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 145px 0 0 35px;

      @media (max-width: 1200px) {
        padding: 100px 35px 0;
      }

      @media (max-width: 500px) {
        padding: 60px 20px 50px;
      }

      .contentWrapper {

        width: 46%;
        float: right;

        h4.title {

          span {
            font-family: "Helvetica Neue Black";
            text-transform: uppercase;
            display: block;
            line-height: 1.6;
          }

          span:first-of-type {
            text-transform: none;
            font-family: "Helvetica Neue Medium";
            font-size: 27px;
            position: relative;
            width: fit-content;

            &:after {
              content: "";
              display: block;
              position: absolute;
              width: 60px;
              height: 1px;
              background-color: #171717;
              top: 40%;
              right: -70px;
            }
          }

          span:nth-child(2) {
            font-size: 24px;
          }

          span:nth-child(3) {
            font-size: 60px;
            line-height: 1.2;
          }

          span:last-of-type {
            background-color: #ffbb28;
            width: fit-content;
            color: white;
            padding: 2px 18px;
            font-size: 32px;
            margin-bottom: 40px;
            height: 1.4em;
          }

          @media (max-width: 500px) {
            span:first-of-type {
              font-size: 16px;
            }
            span:nth-child(2) {
              font-size: 4.3vw;
            }
            span:nth-child(3) {
              font-size: 10vw;
            }
            span:last-of-type {
              font-size: 5.3vw;
            }
          }
        }

        p {
          font-family: "Helvetica Neue Roman";
          font-size: 16px;
          max-width: 390px;
          margin-bottom: 30px;

          @media (max-width: 500px) {
            max-width: 100%;
          }
        }

        form {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          input {
            width: 48%;
            margin-bottom: 25px;
          }

          a {
            flex-grow: 1;
          }

          @media (max-width: 500px) {
            margin-top: 250px;
            width: 100%;

            input {
              width: 100%;
              margin-bottom: 10px;
            }
          }
        }

        @media (max-width: 1200px) {
          width: 100%;
          float: none;
        }

      }

    }
  }
}

.weddingKitchenBlock {
  .wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    .container {
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      height: 500px;

      img {
        object-fit: cover;
        border-radius: 5px;
        box-shadow: -14.444px 19.167px 27px 0px rgba(23, 23, 23, 0.08);

        &.leftImg {
          height: 500px;
          width: 660px;
          position: absolute;
          left: -360px;
        }

        &.rightImg {
          margin-left: 330px;
          height: 500px;
          width: 350px;
        }
      }

      .textContent {
        padding: 0 20px 0 80px;

        p {
          margin-top: 30px;
          text-align: justify;
          margin-bottom: 30px;
        }

      }

      @media (max-width: 1200px) {
        .textContent {
          padding: 0 20px;
        }

        img {
          &.leftImg {
            width: 50%;
            max-width: 660px;
            position: relative;
            left: unset;
          }

          &.rightImg {
            display: none;
          }
        }

        .textContent {
          margin-bottom: 40px;
        }

      }

      @media (max-width: 670px) {
        flex-direction: column-reverse;
        height: unset;
        img {
          &.leftImg {
            border-radius: 0;
            height: calc(100vw * 0.87);
            width: 100vw;
          }
        }
        .textContent p {
          margin: 20px 0;
        }
      }

    }
  }
}

.weddingPlacesBlock {
  .wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    .container {
      position: relative;
      box-sizing: border-box;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;

      .topRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 30px;

        h4.title {
          //display: inline-block;
          width: 480px;

          span {
            text-transform: uppercase;
            display: block;
            line-height: 1.6;
          }

          span:first-of-type {
            text-transform: none;
            font-family: "Helvetica Neue Medium";
            font-size: 27px;
            position: relative;
            width: fit-content;

            &:after {
              content: "";
              display: block;
              position: absolute;
              width: 60px;
              height: 1px;
              background-color: #171717;
              top: 40%;
              right: -70px;
            }
          }

          span:nth-child(2) {
            font-family: "Helvetica Neue Black";
            font-size: 24px;
          }

          span:last-of-type {
            font-family: "Helvetica Neue Black";
            font-size: 60px;
            line-height: 1.2;
          }

          @media (max-width: 500px) {
            width: fit-content;

            span:first-of-type {
              font-size: 16px;
            }
            span:nth-child(2) {
              font-size: 5vw;
            }
            span:last-of-type {
              font-size: 13.2vw;
              margin-bottom: 0;
            }
          }

        }

        .textContent {
          padding: 0 20px;
          text-align: justify;
          width: 60%;
        }

        @media (max-width: 1000px) {
          display: block;
          .textContent {
            box-sizing: border-box;
            width: 100%;
            padding: 0 20px;
          }
          h4.title {
            display: inline-block;
            width: fit-content;
            padding-left: 20px;
          }
        }

        @media (max-width: 500px) {
          padding: 0;
          display: block;
          .textContent {
            //margin-top: -40px;
          }
        }

      }

      .sliderWrapper {
        max-width: 1200px;
        margin: 0 auto;

        .sliderItemWrapper {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: center;
          justify-content: center;
          box-shadow: -4.54px 8.91px 35px 0px rgba(23, 23, 23, 0.25);
          background-color: rgb(255, 255, 255);
          width: 237px;
          height: 237px;
          margin: 40px auto;
          padding: 10px;

          @media (max-width: 1000px) {
            margin-left: 20px;
          }

          img {
            object-fit: contain;
            width: 62px;
            margin-bottom: 15px;
          }

          div {
            position: absolute;
            top: 10px;
            left: 20px;
            font-family: "Helvetica Neue Black";
            font-size: 40px;
            color: #f7f7f7;
          }

          p {
            font-family: "Helvetica Neue Roman";
            line-height: 1.4;
            color: #8e8e8e;
            text-align: center;
          }
        }
      }


    }

  }
}

.weddingBlackBlock {
  .wrapper {
    width: 100%;
    background-color: #202020;

    .container {
      height: 120px;
      max-width: 740px;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      align-items: center;

      .content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .textBlock {
          color: #fff;

          p:first-of-type {
            font-family: "Helvetica Neue Bold";
            text-transform: uppercase;
            margin-bottom: 10px;
            font-size: 24.5px;
          }

          p:last-of-type {
            font-family: "Helvetica Neue Light";
            font-size: 17px;
          }
        }

      }

      @media (max-width: 768px) {
        padding: 30px 20px;
        height: unset;

        .content {
          display: block;

          .textBlock p {
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }

    }
  }
}

.weddingDecisionBlock {
  .wrapper {
    width: 100%;
    height: 565px;
    padding-top: 65px;
    background: #f4f4f4;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img text";
    max-width: 1200px;
    margin: 0 auto;
  }

  .imageBlock {
    grid-area: img;
    display: flex;
    align-items: center;
    background: #d7d7d7;
    width: 538px;
    height: 495px;
    position: relative;
    border-radius: 5px;
  }

  .imageBlock img {
    object-fit: cover;
    position: absolute;
    right: 7px;
    height: 475px;
    width: 984px;
  }

  .textBlock {
    grid-area: text;
    display: flex;
    align-items: center;
    padding: 0 30px 0 30px;
  }

  .textBlock p {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.15;
    text-align: justify;
  }


  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    input {
      width: 48%;
      margin-bottom: 25px;
    }

    a {
      flex-grow: 1;
    }

    @media (max-width: 500px) {
      width: 100%;

      input {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .wrapper {
      height: auto;
      padding-top: 35px;
      padding-bottom: 0;

      .grid {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: "text" "img";

      }

      .imageBlock {
        grid-area: img;
        display: flex;
        align-items: center;
        background: none;
        width: 100%;
        height: unset;
        position: relative;
        border-radius: 5px;
        margin-top: 45px;
      }

      .imageBlock img {
        object-fit: cover;
        width: 100%;
        height: calc(100vw * 0.8);
        position: relative;
        right: 0;
        box-shadow: 0px 0px 14.24px 1.76px rgba(3, 7, 8, 0.29);

      }


      .textBlock {
        padding: 0 20px;
      }

      .textBlock button {
        margin: 0 auto;
      }

      .textBlock p {
        margin: 20px 0 30px;
      }

      .textContent p {
        font-size: 14px;
      }
    }
  }
}


