.navBlock {
  width: 100%;
  background: #fafafa;
  //box-shadow: -9.629px 12.778px 27px 0px rgba(23, 23, 23, 0.09);
  .container {
    display: flex;
    padding: 30px 0;
    max-width: 1000px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    div {
      font-size: 16px;
      padding: 10px 15px 10px 20px;
      margin: 0 20px;
      position: relative;
      z-index: 1;

      &:first-of-type {
        border-radius: 5px;
        background-color: #eaeaea;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          right: -11px;
          transform: rotate(45deg);
          top: 6px;
          width: 26px;
          height: 26px;
          background-color: #eaeaea;
        }
      }
    }

  }


}