.nextArrow, .prevArrow {
  position: absolute;
  display: block;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: -0.907px 12.968px 16px 0px rgba(23, 23, 23, 0.1);
  cursor: pointer;
  background: center no-repeat;
}

.nextArrow:hover, .prevArrow:hover {
  background-color: #eaeaea;
}
