$white: #fff;


.bannerWrapper {


  .container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }

  .background {
    display: none;
  }

  position: relative;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  background-color: #f8f8f8;

  @media (min-width: 769px) {
    max-height: 750px;
  }
  @media (min-width: 1200px) {
    height: calc(100vh - 100px);
    margin-top: 100px;
  }


  .flexWrapper {
    position: relative;
    display: flex;
  }

  .leftSide {
    padding-top: 13vh;
    //padding-left: 20px;
    z-index: 1;
    position: relative;
  }

  .pageNameBlock {
    color: $white;
    @media (min-width: 620px) {
      zoom: 0.9
    }
  }

  .pageNameBlock p {
    font-size: 40px;
    line-height: 1;

    @media screen and (max-width: 768px){
      font-size: 7vw;
    }
  }

  .pageNameBlock h2 {
    font-family: "Helvetica Neue Light", sans-serif;
    font-size: 29px;
    margin-bottom: 14px;
    position: relative;
    width: fit-content;
  }

  .pageNameBlock h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 53px;
    height: 1px;
    background-color: #fff;
    top: 40%;
    right: -66px;
  }

  .pageNameBlock h1:first-of-type {
    position: relative;
    text-transform: uppercase;
    font-family: "Helvetica Neue Black", sans-serif;
    background: url('../../../img/defenderDay/text-background.jpg') no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:after {
      content: '';
      position: absolute;
      left: 413px;
      top: -33px;
      display: block;
      width: 130px;
      height: 130px;
      background: no-repeat url('../../../img/defenderDay/star.png');
      background-size: contain;
      z-index: -1;
      @media (max-width: 768px) {
        left: 54.4vw;
        top: 0;
        width: 15vw;
        height: 15vw;
      }
    }

  }

  .pageNameBlock h1:last-of-type {
    text-transform: uppercase;
    white-space: nowrap;
    font-family: "Helvetica Neue Black", sans-serif;
    line-height: 0.9;
  }

  .pageNameBlock h3.extraline {
    margin-top: 0.1rem;
    text-transform: uppercase;
    font-family: "Helvetica Neue Black", sans-serif;
  }

  .descriptionWrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  .descriptionBtn {
    position: relative;
    width: fit-content;
    cursor: pointer;
    font-family: "Helvetica Neue Bold", sans-serif;
    margin-top: 20px;
    font-size: 21px;
    transition: all 300ms;
  }

  .descriptionBtn.active {
    //maybe smth
  }

  @media screen and (max-width: 768px) {
    .bannerWrapper {
      overflow: visible;
    }
    .descriptionBtn {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 16px !important;
    }
    .description {
      z-index: -1;
      position: absolute;
      width: calc(100vw - 40px);
      left: 50%;
      transform: translateX(-50%);
      padding: 25px 20px;
      font-size: 12px;
    }
  }

  @media screen and (max-width: 620px) {

    position: relative;
    width: 100vw;
    height: unset;
    background: none;

    .container {
      height: calc(100vh - 60px);
    }
    .rightSide {
      display: none;
    }
    .pageNameBlock {
      color: #fff !important;
      margin-bottom: 80px;
    }
    .pageNameBlock h2:after {
      background-color: #fff;
    }
    .leftSide {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: start;
      width: 100%;
      height: 100%;
    }
    .flexWrapper {
      height: 100%;
    }

    .background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      filter: brightness(0.7);
      //z-index: -1;
    }

    .bookingBlock {
      display: none;
      bottom: unset;
      position: relative;
      bottom: unset;
      max-width: 1115px;
      width: 100%;
      height: 20px;
      background-color: white;
      border-radius: 0;
      margin: 0 0 50px;
      box-shadow: -7.182px 19.734px 47px 0px rgba(23, 23, 23, 0.13);
    }

  }

  @media screen and (max-width: 620px) {
    .pageNameBlock h2 {
      font-size: 6vw;
    }
  }

  .animatedMouseWrapper {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-17.5px);
  }


}

.iconsWrapper {
  margin-top: -30px;
  margin-bottom: 40px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .item {
      display: flex;
      margin-right: 25px;

      img {
        width: 35px;
        margin-right: 17px;
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.textBlockWrapper {
  width: 100%;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    height: 595px;
    padding-right: 80px;
    //overflow: hidden;

    .background {
      position: absolute;
      z-index: -1;
      height: 465px;
      background-color: #f6f6f6;
      width: 100vw;
      right: 150px;
      top: 50%;
      transform: translateY(-50%);
    }

    .textContent {
      position: relative;
      padding: 100px 50px 100px 100px;

      p {
        text-align: justify;
        margin: 15px 0 18px;
      }

      li::marker {
        color: #ff6c39;
        font-size: 120%;
      }

      h5 {
        margin-top: 25px;
        margin-bottom: 10px;
      }

      img {
        width: 160px;
        height: 160px;
        object-fit: contain;
        position: absolute;
        right: -65px;
        bottom: 50px;
        box-shadow: none;

        @media (max-width: 1200px) {
          bottom: -70px;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    img {
      width: 500px;
      height: 595px;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: -9.629px 12.778px 27px 0px rgba(23, 23, 23, 0.09);

      &.wide {
        width: 650px;
      }

      @media (max-width: 768px) {
        border-radius: 0;
      }
    }

  }

  @media screen and (max-width: 1200px) {
    .container {
      padding-right: 0;

      .textContent {
        padding: 0 20px;
        margin-bottom: 20px;
      }

      img {
        max-width: 50%;
      }

    }

  }

  @media screen and (max-width: 768px) {

    .container {
      display: block;
      padding: 30px 0 30px 0;
      height: unset;
      background-color: #f7f7f7;

      .background {
        display: none;
      }

      .textContent {
        padding: 0 0 0 20px;
        margin-bottom: 20px;

        p {
          padding-right: 20px;
        }
      }

      img {
        max-width: 100%;
        width: 100vw;
        height: calc(100vw * 1.07);
        position: relative;
      }

    }

  }

}

.formBlock {
  .wrapper {
    max-width: 1920px;
    position: relative;

    width: 100%;
    height: 700px;
    margin: 0 auto;
    background: center no-repeat url(../../../img/defenderDay/7.jpg);
    background-size: cover;


    @media (max-width: 500px) {
      height: unset;
      background: center no-repeat url(../../../img/defenderDay/7.jpg);
      background-size: cover;
    }

    .container {
      box-sizing: border-box;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 145px 0 0 35px;

      @media (max-width: 500px) {
        padding: 60px 20px 50px;
      }

      h4.title {

        span {
          text-transform: uppercase;
          display: block;
          line-height: 1.6;
          color:#fff;
        }

        span:first-of-type {
          text-transform: none;
          font-family: "Helvetica Neue Light", sans-serif;
          font-size: 27px;
          position: relative;
          width: fit-content;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 1px;
            background-color: #fff;
            top: 40%;
            right: -70px;
          }
        }

        span:nth-child(2) {
          font-family: "Helvetica Neue Black", sans-serif;
          font-size: 23px;
        }

        span:last-of-type {
          font-family: "Helvetica Neue Black", sans-serif;
          font-size: 28px;
          line-height: 1.2;
          margin-bottom: 20px;
        }

        @media (max-width: 500px) {
          span:first-of-type {
            font-size: 16px;
          }
          span:nth-child(2) {
            font-size: 4.6vw;
          }
          span:last-of-type {
            font-size: 9.8vw;
          }
        }
      }

      p {
        font-family: "Helvetica Neue Roman", sans-serif;
        font-size: 16px;
        max-width: 390px;
        margin-bottom: 30px;
        color:#fff;

        @media (max-width: 500px) {
          max-width: 100%;
        }
      }

      form {
        width: 360px;

        input {
          width: 100%;
          margin-bottom: 25px;
        }

        @media (max-width: 500px) {
          width: 100%;
          margin-top: 30px;

          input {
            margin-bottom: 10px;
          }
        }
      }

    }
  }

  .bluredImg {
    position: absolute;
    top: -92px;
    left: 400px;
  }
}
