.wrapper {
  position: relative;
  max-width: 420px;
  width: 100%;
  overflow: visible;
  align-self: flex-end;
  padding-bottom: 13px;
  z-index: 2;
}

.miniSliderItem {
  text-align: center;
  color: #B4B4B4;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center
}

.miniSliderItem.active {
  color: #000 !important;
}

@media screen and (max-width: 768px){
  .wrapper {
    position: absolute;
    bottom: -77px;
    right: 20px;
  }
  .miniSliderItem {
    text-align: right;
  }
}