
//menu

.menuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.96);
  transition: all 500ms;
  padding: 0 7px;
  overflow-y: scroll;

  &.opened {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }

  //backdrop-filter: blur(5px);

  .flexContainer {
    display: flex;

    @media (max-width: 1270px) {
      .col:last-child {
        display: none;
      }
      .col:nth-child(3) {
        margin-right: 0 !important;
      }
    }

    @media (max-width: 880px) {
      display: block;
      .col:nth-child(2), .col:nth-child(1) {
        margin-right: 0 !important;
      }
    }

    @media (max-width: 500px) {
      transform: scale(0.9);
    }

    .col {
      .callUs {
        position: relative;
        padding-top: 12px;
        font-family: "Helvetica Neue Medium";
        font-size: 22px;
        //margin-top: -12px;
        margin-bottom: 15px;
        &:before {
          content: "";
          position: absolute;
          width: 15px;
          height: 3px;
          background-color: #ff6c39;
          left: 0;
          top: 0px;
        }

      }


      img {
        display: inline;
        height: 18px;
        margin-right: 10px;
      }

      .location {
        white-space: nowrap;
        margin-bottom: 10px;
      }

      .phone {
        a:visited {
          color: inherit;
        }
      }

      .icons {
        margin-top: 20px;
        img {
          height: 23px;
          margin-right: 15px;
        }
      }

      &:not(:last-child) {
        margin-right: 80px;
      }

      &:nth-child(3) {
        margin-right: 120px;
      }
    }

    .menuItem {

      a, p {
        cursor: pointer;
        display: inline-block;
        font-size: 26px;
        font-family: "Helvetica Neue Medium";
        margin-bottom: 15px;
      }

      img.arrow {
        padding: 10px 10px 3px 10px;
        cursor: pointer;
        display: inline-block;
        width: 13px;
        height: auto;
        filter: brightness(70%);
        transition: all 300ms;
      }

      .list {
        transition: all 300ms;

        a {
          display: block;
          overflow: hidden;
          height: 0;
          transition: all 300ms;
          margin-bottom: 0 !important;


          .listItem {
            position: relative;
            font-family: "Helvetica Neue Light", Arial, serif;
            font-size: 20px;
            padding-left: 30px;

            &:before {
              content: "";
              position: absolute;
              width: 15px;
              height: 3px;
              background-color: #ff6c39;
              left: 0;
              top: 33%
            }

          }

        }

      }

      &.opened {
        img.arrow {
          padding: 3px 10px 10px 10px;
          transform: rotate(180deg);
        }
        .list {
          margin-bottom: 25px;
          margin-top: 6px;
          @media (max-width: 768px) {margin-top: -5px;}
          a {
            height: 1.7rem;
            .listItem {
              margin-bottom: 10px;
            }
          }
        }
      }

    }

  }
}
