.cirqleTip {
  display: none;
}

@media screen and (max-width: 500px) {
  .cirqleTip {
    font-family: 'Helvetica Neue Bold';
    display: inline-block;
    margin-left: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: #f4f4f4;
    color: #b0b0b0;
    font-size: 21px;
    padding-top: 6px;
    box-sizing: border-box;
    position: relative;
    top: -4px;
    transition: all 200ms;
  }
  .cirqleTip.active {
    background-color: #cccccc;
    color: #fff;
  }
}