.birthdayPlanningBlock {
  .wrapper {
    max-width: 1920px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background: center no-repeat url(../../../../img/events/birthday/planning.jpg);
    background-size: cover;


    @media (max-width: 500px) {
      height: unset;
      background: center no-repeat url(../../../../img/events/birthday/planning-mob.jpg);
      background-size: cover;
    }

    .container {
      box-sizing: border-box;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 145px 0 0 35px;

      @media (max-width: 500px) {
        padding: 60px 20px 50px;
      }

      h4.title {

        span {
          text-transform: uppercase;
          display: block;
          line-height: 1.6;
        }

        span:first-of-type {
          text-transform: none;
          font-family: "Helvetica Neue Medium";
          font-size: 27px;
          position: relative;
          width: fit-content;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 1px;
            background-color: #171717;
            top: 40%;
            right: -70px;
          }
        }

        span:nth-child(2) {
          font-family: "Helvetica Neue Black";
          font-size: 24px;
        }

        span:last-of-type {
          font-family: "Helvetica Neue Black";
          font-size: 80px;
          line-height: 1.2;
          margin-bottom: 20px;
        }

        @media (max-width: 500px) {
          span:first-of-type {
            font-size: 16px;
          }
          span:nth-child(2) {
            font-size: 4.6vw;
          }
          span:last-of-type {
            font-size: 11.3vw;
          }
        }
      }

      p {
        font-family: "Helvetica Neue Roman";
        font-size: 16px;
        max-width: 390px;
        margin-bottom: 30px;

        @media (max-width: 500px) {
          max-width: 100%;
        }
      }

      form {
        width: 360px;

        input {
          width: 100%;
          margin-bottom: 25px;
        }

        @media (max-width: 500px) {
          width: 100%;
          margin-top: 330px;

          input {
            margin-bottom: 10px;
          }
        }
      }

    }
  }
}

.birthdayDecisionBlock {
  .wrapper {
    width: 100%;
    height: 565px;
    padding-top: 65px;
    background: #f4f4f4;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img text";
    max-width: 1200px;
    margin: 0 auto;
  }

  .imageBlock {
    grid-area: img;
    display: flex;
    align-items: center;
    background: #d7d7d7;
    width: 538px;
    height: 495px;
    position: relative;
    border-radius: 5px;
  }

  .imageBlock img {
    object-fit: cover;
    position: absolute;
    right: 7px;
    height: 475px;
    width: 984px;
  }

  .textBlock {
    grid-area: text;
    display: flex;
    align-items: center;
    padding: 0 30px 0 30px;
  }

  .textBlock p {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.15;
    text-align: justify;
  }


  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      width: 48%;
      margin-bottom: 25px;
    }

    a {
      flex-grow: 1;
    }

    @media (max-width: 500px) {
      width: 100%;

      div {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .wrapper {
      height: auto;
      padding-top: 35px;
      padding-bottom: 0;

      .grid {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: "text" "img";

      }

      .imageBlock {
        grid-area: img;
        display: flex;
        align-items: center;
        background: none;
        width: 100%;
        height: unset;
        position: relative;
        border-radius: 5px;
        margin-top: 45px;
      }

      .imageBlock img {
        object-fit: cover;
        width: 100%;
        height: calc(100vw * 0.8);
        position: relative;
        right: 0;
        box-shadow: 0px 0px 14.24px 1.76px rgba(3, 7, 8, 0.29);
      }


      .textBlock {
        padding: 0 20px;
        overflow: hidden;
      }

      .textBlock button {
        margin: 0 auto;
      }

      .textBlock p {
        margin: 20px 0 30px;
      }

      .textContent p {
        font-size: 14px;
      }
    }
  }
}