.bannerWrapper {
  max-width: 1920px;
  width: 100%;
  height: calc(100vh - 90px);
  max-height: 650px;
  margin: 0 auto;
  margin-top: 90px;
  @media (max-width: 1200px) {
    margin-top: 70px;
  }
  background-position: center;
  background-size: cover;
  @media (max-width: 500px) {
    background-position: right !important;
  }
}

.contentWrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  .container {
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    .topRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 30px;

      h1.title {
        //display: inline-block;
        width: 480px;

        span {
          text-transform: uppercase;
          display: block;
          line-height: 1.6;
        }

        span:first-of-type {
          text-transform: none;
          font-family: "Helvetica Neue Medium";
          font-size: 23px;
          position: relative;
          width: fit-content;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 1px;
            background-color: #171717;
            top: 45%;
            right: -70px;
          }
        }

        span:last-of-type {
          font-family: "Helvetica Neue Black";
          font-size: 55px;
          line-height: 1.1;
        }

        @media (max-width: 500px) {
          width: fit-content;

          span:first-of-type {
            font-size: 18px;
          }
          span:last-of-type {
            font-size: 11.2vw;
          }
        }

        @media (max-width: 1024px) {
          margin-bottom: 20px;
        }

      }

      .textContent {
        padding: 0 20px;
        text-align: justify;
        width: 60%;
        position: relative;

        .btn {
          margin-top: 15px;
          text-decoration: underline;
          cursor: pointer;
        }

        .description {
          z-index: -1;
          opacity: 0;
          max-width: 625px;
          width: 100%;
          position: absolute;
          box-sizing: border-box;
          padding: 30px;
          bottom: -20px;
          transform: translateY(100%);
          box-shadow: 0px 4px 27px 0px rgba(23, 23, 23, 0.52);
          background-color: rgb(246, 246, 246);
          transition: opacity 200ms;

          p {
            margin-bottom: 20px;
          }

          ul {
            li {
              list-style-type: "–  ";
              margin-bottom: 20px;
            }
          }

          &.active {
            z-index: 1;
            opacity: 1;
          }

          img {
            width: 50px;
            margin-bottom: 15px;
            margin-left: 20px;
          }
        }

      }

      @media (max-width: 1024px) {
        display: block;
        //padding: 0 20px;
        .textContent {
          box-sizing: border-box;
          width: 100%;
          padding: 0;
        }
        h4.title {
          display: inline-block;
          width: fit-content;
          padding-left: 20px;
        }
      }

      @media (max-width: 500px) {
        padding: 0;
        display: block;
      }

    }

    .flexWrapper {
      box-sizing: border-box;
      display: flex;
      margin-top: 60px;
      padding: 0 30px;

      .col {
        margin-right: 60px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, .1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, .1), 0 0.25rem 0.53125rem rgba(90, 97, 105, .12), 0 0.125rem 0.1875rem rgba(90, 97, 105, .1);
        border-radius: 5px;
        border: none;
        padding: 20px;
        max-width: 50%;
        width: 100%;
        @media (max-width: 1025px) {
          max-width: 100%;
          margin:0 auto 20px;
        }

        h3 {
          margin-bottom: 20px;
        }

        ul {
          padding-left: 0;

          li {
            margin-bottom: 13px;
            padding-left: 28px;
            list-style: none;
            background-image: url(../../../img/list-marker.png);
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 17px;
          }

          list-style-image: url(../../../img/list-marker.png);
        }
      }

      @media (max-width: 1024px) {
        padding: 0;
        flex-wrap: wrap;
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
      }
    }
  }
}

.scheduleBlock {
  .wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    .container {
      position: relative;
      box-sizing: border-box;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      display: flex;

      @media (max-width: 1025px) {
        flex-wrap: wrap;
      }

      .col8 {
        max-width: 70%;
        width: 100%;
        padding: 0 30px;

        p {
          text-align: justify;
          padding: 0 0 15px 0;
        }

        @media (max-width: 1025px) {
          max-width: 100%;
          margin:0 auto;
          padding: 0 20px;
        }
      }

      .col4 {
        max-width: 30%;
        width: 100%;
        padding: 0 30px;

        p {
          text-align: justify;
          padding: 0 0 15px 0;
        }

        ul {
          padding-left: 0;

          li {
            margin-bottom: 13px;
            padding-left: 28px;
            list-style: none;
            background-image: url(../../../img/list-marker.png);
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 17px;
          }

          list-style-image: url(../../../img/list-marker.png);
        }

        @media (max-width: 1025px) {
          max-width: 100%;
          margin:0 auto;
          padding: 0 20px;
        }
      }
    }
  }
}

.scheduleRestBlock {
  .wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    .container {
      position: relative;
      box-sizing: border-box;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;

      .flexWrapper {
        box-sizing: border-box;
        display: flex;
        margin: 60px 0;
        padding: 0 30px;

        .col {
          margin-right: 30px;
          box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, .1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, .1), 0 0.25rem 0.53125rem rgba(90, 97, 105, .12), 0 0.125rem 0.1875rem rgba(90, 97, 105, .1);
          border-radius: 5px;
          border: none;
          padding: 20px;
          max-width: 50%;
          width: 100%;

          ul {
            padding-left: 0;

            li {
              margin-bottom: 13px;
              padding-left: 28px;
              list-style: none;
              background-image: url(../../../img/list-marker.png);
              background-repeat: no-repeat;
              background-position: left top;
              background-size: 17px;
            }

            list-style-image: url(../../../img/list-marker.png);
          }

          @media (max-width: 1025px) {
            max-width: 100%;
            margin:15px auto;
          }
        }

        @media (max-width: 1025px) {
          flex-wrap: wrap;
          padding: 0;
          margin: 10px 0 0;
        }
      }

      p {
        text-align: justify;
        padding: 0 0 15px;
      }

      @media (max-width: 1025px) {
        max-width: 100%;
        margin:0 auto;
        padding: 0 20px;
      }
    }
  }
}
