.accordeon {
  margin-top: 15px;
  margin-bottom: 20px !important;
}

.accordeon.zeroHeight {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.accordeon p{
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}

.text {
  position: relative;
  margin-bottom: 0px !important;
  max-height: 105px;
  overflow: hidden;
  transition: all 500ms;
}

.text.zeroHeight {
  max-height: 0;
}

.text.opened {
  margin: 15px 0 !important;
  max-height: 400px;
}

.text:before{
  //content:"";
  width: 100%;
  display:block;
  height:20px;
  position:absolute;
  bottom: 0;
  background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #F2F2F2 75%)
}

.text.opened:before {
  content: none;
}

.btn {
  cursor: pointer;
  color: #484848;
  transition: all 400ms
}


.btn.opened {
  color: #c6c6c6;
}

.btnHidden {
  display: none;
}
