$fontBlack: #121212;
$orange: #ff6c39;

a, a:visited {
  color: $fontBlack;
}

a:hover {
  text-decoration: underline;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 0px 40.94px 5.06px rgba(3, 7, 8, 0.08);
  background-color: rgb(255, 255, 255);
}

.content {
  color: $fontBlack;
  font-size: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 65px;
  transition: all 300ms;
}

.content.minified {
  height: 85px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 190px;
}

.leftBlock {
  display: flex;
}

.rightBlock {
  display: flex;
  align-items: baseline;
}

.link {
  display: flex;
  align-items: flex-start;
  font-size: 17px;
  margin-right: 6%;
}

.link.number {
  font-family: "Helvetica Neue Medium" !important;
  margin-right: 0;
  text-align: right;
  font-size: 20px;
}


.link img {
  display: inline-block;
  margin-right: 5px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 185px;
  margin-right: 20px;
}

.contacts div {
  font-size: 16px;
}

.menuIcon {
  position: absolute;
  font-size: 60px;
  left: 12px;
}

.menuIcon span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: $fontBlack;
  margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .link, .contacts  {
    display: none;
  }
  .searchIcon {
    display: flex;
  }
  .rightBlock a[aria-current] {
    display: none;
  }
  .content {
    height: 70px;
    transition: all 400ms;
  }

  .content.minified {
    height: 65px;
  }

  .logo img {
    width: 140px;
    transition: all 400ms;
  }

  .content.minified .logo img{
    width: 110px;
  }

  .container {
    padding: 0 15px 0 10px;
  }
}





