.container {
  position: relative;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.nextArrow, .prevArrow {
  position: absolute;
  display: block;
  z-index: 10;
  width: 30px;
  height: 50px;
  top: 50%;
  background: no-repeat center;
  cursor: pointer;
}
.nextArrow:hover, .prevArrow:hover {
  opacity: 50%;
}

.nextArrow {
  right: -14px;
  transform: translateY(-50%) rotate(180deg);
}
.prevArrow {
  left: -14px;
  transform: translateY(-50%);
}

.wrapper {
  padding-top: 55px;
  padding-bottom: 80px;
  overflow: hidden;
}

.headlineWrapper {
  padding-left: 22px;
  margin-bottom: 50px;
}

