$black: #171717;

.bannerWrapper {
  margin-top: 120px;
  height: 800px;
  width: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
  //box-shadow: 0px 0px 40.94px 5.06px rgba(3, 7, 8, 0.09);
}

.flexWrapper {
  position: relative;
  display: flex;
}

.leftSide {
  padding-top: 175px;
  z-index: 1;
}

.textBlock {
  color: $black;
}

.textBlock h2 {
  font-family: "Helvetica Neue Medium";
  font-size: 27px;
  margin-bottom: 18px;
  position: relative;
  width: fit-content;
}

.textBlock h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #171717;
  top: 12px;
  right: -73px;
}

.textBlock h1:first-of-type {
  text-transform: uppercase;
  font-family: "Helvetica Neue Black";
  font-size: 84px;
}

.textBlock h1:last-of-type {
  text-transform: uppercase;
  font-family: "Helvetica Neue Black";
  font-size: 123px;
  line-height: 0.9;
}

.textBlock div {
  font-family: "Helvetica Neue Bold";
  font-size: 34px;
}

.rightSide {
  position: relative;
  left: -75px;
}

.cirqles {
  position: absolute;
  top: 228px;
  left: -249px;
  z-index: 0;
}

.bookingBlock {
  transform: translateX(-50%);
  position: absolute;
  bottom: 75px;
  max-width: 1115px;
  width: 95%;
  left: 50%;
  height: 132px;
  box-shadow: -6.156px 16.914px 40px 0px rgba(23, 23, 23, 0.13);
  background-color: white;
  border-radius: 5px;
}

.playBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 253px;
  left: -3px;
  border-radius: 50%;
  box-shadow: -10.261px 28.191px 57px 0px rgba(255, 108, 57, 0.41);
  width: 79px;
  height: 79px;
  background-color: #ff6c39;
  cursor: pointer;
  z-index: 1;
  transition: all 200ms;
}

.playBtn:hover {
  background-color: #d45a2f;
}



