.wrapper {
  width: 100%;
  overflow: hidden;
  background: no-repeat center #f5f5f6 url(../../../img/specials-slider/specials-bg.jpg);
}

.container {
  box-sizing: border-box;
  position: relative;;
  padding-top: 225px;
  max-width: 1200px;
  height: 640px;
  width: 100%;
  margin: 0 auto;
  //border: thin solid black;
}

.leftBlock {
  box-sizing: border-box;
  width: 420px;
  padding: 0 25px 0 15px;
}

.leftBlock p {
  font-family: "Helvetica Neue Light";
  font-size: 16px;
}

.leftBlock h2 {
  font-size: 34px;
  margin-bottom: 30px;
}

.leftBlock h4 {
  font-size: 26px;
}

.leftBlock a {
  font-size: 14px;
  font-family: "Helvetica Neue Roman";
}

.leftBlock a img {
  width: 18px;
  //height: 5px;
  position: relative;
  top: 4px;
  margin-left: 5px;
}

.rightBlock {
  //display: flex;
  //align-items: center;
  position: absolute;
  overflow: hidden;
  width: 960px;
  height: 640px;
  bottom: 0;
  right: -180px;
  //border: thin solid red;
}



