.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: no-repeat center url(../../../img/specials-slider/specials-bg.jpg);
}

.container {
  box-sizing: border-box;
  position: relative;;
  padding-top: 225px;
  max-width: 1200px;
  height: 640px;
  width: 100%;
  margin: 0 auto;
  //border: thin solid black;
}

.leftBlock {
  box-sizing: border-box;
  width: 420px;
  padding: 0 25px 0 15px;
}

.leftBlock p {
  font-family: "Helvetica Neue Light";
  font-size: 16px;
  text-align: justify;
}

@media screen and (min-width: 700px) {
  .leftBlock h2 {
    font-size: 34px;
  }
}

//
//.leftBlock h4 {
//  font-size: 26px;
//}

.leftBlock a {
  font-size: 14px;
  font-family: "Helvetica Neue Roman";
}

.leftBlock a img {
  width: 18px;
  //height: 5px;
  position: relative;
  top: 4px;
  margin-left: 5px;
}

.rightBlock {
  //display: flex;
  //align-items: center;
  position: absolute;
  overflow: hidden;
  width: 960px;
  height: 640px;
  bottom: 0;
  right: -180px;
  //border: thin solid red;
}

@media screen and (max-width: 1200px) {

  .leftBlock {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .leftBlock p {
    margin-bottom: 10px;
  }

  .rightBlock {
    overflow: visible;
    position: relative;
    width: 100%;
    height: unset;
    bottom: unset;
    right: unset;
  }

  .wrapper:before {
    background-image: url(../../../img/specials-slider/specials-bg-mobile.jpg);
    background-position: left;
    background-size: cover;
    opacity: 0.9;
  }

  .container {
    padding-top: 10px;
    height: unset;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 60px;
  }
}







