.wrapper {
  max-width: 1920px;
  background: center url('../../../img/mice/event-tourism/1.jpg');
  width: 100%;
  position: relative;
  overflow: hidden;
  margin:0 auto;


  .container {
    box-sizing: border-box;
    max-width: 1200px;
    height: 700px;
    display: flex;
    margin: 0 auto;
    position: relative;
    padding: 20px;

    .content {
      display: flex;
      flex-direction: column;
      max-width: 440px;
      margin:0 0 0 auto;
      justify-content: center;

      .text {
        text-align: justify;
        font-family: 'Helvetica Neue Light', sans-serif;
        margin:25px 0;

        li {
          margin: 5px 0;
        }
      }

      .hashtag {
        font-family: 'Helvetica Neue Black', sans-serif;
        color:#fff;
        font-size: 25px;
      }

      @media screen and (max-width: 580px) {
        .hashtag {
          display: none;
        }

        .text {
          margin:25px 0 0;
        }
      }
    }

    @media screen and (max-width: 580px) {
      height: auto;
    }
  }

  .imageMobile {
    display: none;
  }


  @media screen and (max-width: 580px) {
    background: none;

    .imageMobile {
      display: flex;
      width: 100%;
    }
  }
}
