.wrapper {
  background-color: #f8f8f8;
  width: 100%;
  padding-top: 40px;
}

.wrapper p {
  margin: 1em 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.footer {
  display: grid;
  grid-template-areas: "contacts nav socials";
  //grid-template-rows: 220px;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 40px;
}

.footerFlex {
  display: flex;
  margin: 16px 0 0;
}

.footerFlex img {
  height: 20px;
  object-fit: contain;
}


.footerFlex p {
  margin: 0 0 0 10px;
}

.footerGray {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  display: flex;
  background-color: #e0e0e0;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: lighter;;
}

.footerGray p {
  margin: 25px auto;
}

.footerContacts {
  grid-area: contacts;
  padding: 0 40px;
  margin: 0 auto;
}

.footerNav {
  grid-area: nav;
  display: flex;
  margin: 0 auto;
  padding: 0 40px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.footerNav ul {
  margin: 20px 0;
  padding-left: 0;
}

.footerNav ul:not(:last-child) {
  margin-right: 30px;
}

.footerNav ul li:first-child {
  margin-top: 0;
}

.footerNav li {
  list-style-type: none;
  margin: 12px 0 0;
  max-width: 155px;
}

.footerSocials {
  grid-area: socials;
  padding: 0 40px;
  margin: 0 auto;
  .flexWrapper {
    margin-top: 15px;
    a {
      margin: 0 auto 10px;
    }
  }
}

.footerContacts > img {
  mix-blend-mode: darken;
}

.icons {
  display: flex;

  img {
    height: 20px;
  }
}

.icons > a:not(:last-child) {
  margin: 0 10px 0 0;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1110px) {
  .footer {
    grid-template-areas: "nav" "socials" "contacts";
  }
  .footerNav {
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    border: none;
    padding-bottom: 25px;
  }
  .footerContacts {
    text-align: center;
  }
  .footerSocials {
    border-top: 1px solid #000;
    text-align: center;
    .flexWrapper {
      a {
        margin: 0 auto 10px;
      }
    }
  }
  .footerSocials > p:first-child {
    font-size: 140%;
    font-family: "Helvetica Neue Bold", sans-serif;
  }
  .icons {
    justify-content: center;
    margin-bottom: 20px;
  }
  .icons > img:not(:last-child) {
    margin: 0 15px 0 0;
  }
  .flexWrapper {
    display: flex;
    margin-bottom: 20px;
  }
  .flexWrapper > p {
    text-align: left;
    margin-right: 10px;
  }
  .footerContacts > img {
    margin-bottom: 20px;
  }
  .footerGray .managedBy {
    display: block;
  }
  .footerGray .thinLine {
    display: none;
  }
  .footerFlex {
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .footerFlex {
    margin-top: 10px;
  }
  .flexWrapper > p {
    font-size: 12px;
  }
  .container {
    padding: 0;
  }
  .footerNav li {
    margin-top: 6px;
  }
  .footerNav ul li {
    font-size: 12px !important;
    //padding: 0 20px;
  }
}

@media screen and (max-width: 550px) {
  .footerNav {
    padding: 0 25px;
    padding-bottom: 25px;
  }
  .footerGray > p, .footerGray > p > a {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 400px) {
  .footerNav ul li {
    font-size: 11px !important;
  }
  .footerNav ul:not(:last-child) {
    margin-right: 20px;
  }
  .footerSocials {
    padding: 0 12px
  }
  .footerContacts {
    padding: 0 15px;
  }
}

@media screen and (max-width: 330px) {
  .footerNav ul:not(:last-child) {
    margin-right: 15px;
  }
}



