$black: #171717;

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.background {
  display: none;
}

.bannerWrapper {
  position: relative;
  margin-top: 0;
  height: 100vh;
  max-height: 750px;
  width: 100%;
  background-color: #f8f8f8;
  //overflow: hidden;
  //box-shadow: 0px 0px 40.94px 5.06px rgba(3, 7, 8, 0.09);
}

.flexWrapper {
  position: relative;
  display: flex;
}

.leftSide {
  padding-top: 25vh;
  padding-left: 20px;
  z-index: 1;
  position: relative;
}

.pageNameBlock {
  color: $black;
}

.pageNameBlock h2 {
  font-family: "Helvetica Neue Medium", sans-serif;
  font-size: 27px;
  margin-bottom: 14px;
  position: relative;
  width: fit-content;
}

.pageNameBlock h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 53px;
  height: 1px;
  background-color: #171717;
  top: 40%;
  right: -66px;
}

.pageNameBlock h1:first-of-type {
  text-transform: uppercase;
  font-family: "Helvetica Neue Black", sans-serif;
}

.pageNameBlock h1:last-of-type {
  text-transform: uppercase;
  white-space: nowrap;
  font-family: "Helvetica Neue Black", sans-serif;
  line-height: 0.9;
}

.pageNameBlock h3.extraline {
  margin-top: 0.9rem;
  text-transform: uppercase;
  font-family: "Helvetica Neue Bold", sans-serif;
}

.descriptionWrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.descriptionBtn {
  position: relative;
  width: fit-content;
  cursor: pointer;
  font-family: "Helvetica Neue Bold", sans-serif;
  margin-top: 20px;
  font-size: 21px;
  transition: all 300ms;
}

.descriptionBtn.active {
  //maybe smth
}

.description {
  z-index: 3;
  opacity: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 27px 0px rgba(23, 23, 23, 0.52);
  position: absolute;
  width: 582px;
  top: 25px;
  left: 40px;
  padding: 40px 50px;
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16px;
  text-align: justify;
  transition: all 300ms;
  cursor: default;
}

.description.shown {
  opacity: 1;
  z-index: 3;
}

.rightSide {
  img {
    height: 100%;
  }
  height: 100vh;
  max-height: 750px;
  position: absolute;
  left: 43%;
}

.cirqles {
  position: absolute;
  top: 187px;
  left: -251px;
  z-index: 0;
}

.bookingBlock {
  transform: translateX(-50%);
  position: absolute;
  bottom: 7vh;
  max-width: 1115px;
  width: 95%;
  left: 50%;
  height: 132px;
  box-shadow: -6.156px 16.914px 40px 0px rgba(23, 23, 23, 0.13);
  background-color: white;
  border-radius: 5px;
  background: url(../../../img/booking.jpg) center;
}

@media screen and (max-width: 768px) {
  .bannerWrapper {
    overflow: visible;
  }
  .descriptionBtn {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px !important;
  }
  .description {
    z-index: -1;
    position: absolute;
    width: calc(100vw - 40px);
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: 620px) {
  .description {
    top: -130px;
  }
  .descriptionBtn {
    align-self: flex-start;
    margin-bottom: 135px;
    color: #fff;
  }
  .container {
    height: calc(100vh - 60px);
  }
  .rightSide {
    display: none;
  }
  .pageNameBlock {
    color: #fff !important;
    //margin-bottom: 100px;
  }
  .pageNameBlock h2:after {
    background-color: #fff;
  }
  .leftSide {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    width: 100%;
    height: 100%;
  }
  .flexWrapper {
    height: 100%;
  }
  .bannerWrapper {
    position: relative;
    width: 100vw;
    height: unset;
    background: none;
  }
  .background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);
    z-index: -1;
  }

  .bookingBlock {
    display: none;
    bottom: unset;
    position: relative;
    bottom: unset;
    max-width: 1115px;
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 0;
    margin: 0 0 50px;
    box-shadow: -7.182px 19.734px 47px 0px rgba(23, 23, 23, 0.13);
  }

}

@media screen and (max-width: 620px) {
  .pageNameBlock h2 {
    font-size: 4.8vw;
  }
}



