h2.headlineCenter {
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  font-family: "Helvetica Neue Bold";
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  h2.headlineCenter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 450px) {
  h2.headlineCenter {
    margin-bottom: 30px;
  }
}