.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: no-repeat center url(../../../img/specials-slider/specials-bg.jpg);
}

.container {
  box-sizing: border-box;
  position: relative;;
  padding-top: 225px;
  max-width: 1200px;
  height: 640px;
  width: 100%;
  margin: 0 auto;
  //border: thin solid black;
}

.container.lastOfTwo .rightBlock {
  top: 8%
}

.container.lastOfTwo {
  padding-top: 150px;
  height: 550px;
}



.leftBlock {
  box-sizing: border-box;
  width: 420px;
  padding: 0 25px 0 15px;
}

.leftBlock .circleBtn {
  display: none;
}

.leftBlock p {
  font-family: "Helvetica Neue Light";
  font-size: 16px;
  text-align: justify;
}

.leftBlock a {
  font-size: 14px;
  font-family: "Helvetica Neue Roman";
}

.leftBlock a img {
  width: 18px;
  //height: 5px;
  position: relative;
  top: 4px;
  margin-left: 5px;
}

.rightBlock {
  position: absolute;
  overflow: hidden;
  width: 1165px;
  height: unset;
  top: 23%;
  right: -385px;
}

@media screen and (max-width: 1200px) {

  .leftBlock {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .leftBlock p {
    margin-bottom: 10px;
  }

  .rightBlock {
    overflow: visible;
    position: relative;
    width: 100%;
    height: unset;
    bottom: unset;
    right: unset;
  }

  .wrapper:before {
    background-image: url(../../../img/specials-slider/specials-bg-mobile.jpg);
    background-position: left;
    background-size: cover;
    opacity: 0.9;
  }

  .container, .container.lastOfTwo {
    padding-top: 10px;
    height: unset;
    padding-bottom: 60px;
  }
}


.miniSliderWrapper {
  margin-bottom: 20px;
  width: 900px;
  float: right;
}


@media screen and (max-width: 1200px) {
  .miniSliderWrapper {
    margin: 0 auto;
    margin-bottom: 20px;
    width: fit-content;
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .miniSliderWrapper {
    margin: 0 auto;
    width: fit-content;
    float: right;
    padding-right: 20px;
  }

  .container, .container.lastOfTwo {
    padding-top: 60px;
  }
  .leftBlock {
    margin-bottom: 8px;
  }
  .leftBlock p {
    margin-bottom: 0px;
  }

  .leftBlock .circleBtn {
    font-family: 'Helvetica Neue Bold';
    display: inline-block;
    margin-left: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: #f4f4f4;
    color: #b0b0b0;
    font-size: 21px;
    padding-top: 6px;
    box-sizing: border-box;
    position: relative;
    top: -4px;
    transition: all 200ms;
  }

  .leftBlock .circleBtn.active {
    background-color: #cccccc;
    color: #fff;
  }
}










