.wrapper {
  max-width: 1920px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;


  .container {
    display: flex;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
  }
}

.iconsBlock{
  display: block;
  flex-direction: column;
  margin:0 0 0 220px;

  .icons {
    display: flex;
    color: #fff;
    justify-content: space-between;

    &:last-child {
      .icon:last-child {
        position: absolute;
        left:20vw;
        bottom: 0;
      }
    }

    .icon {
      display: flex;
      align-items: center;

      img {
        height: 40px;
        margin-bottom: 10px;
      }

      p {
        color:#171717;
        font-size: 1rem;
        text-align: left;
        margin:0 20px;
        width:180px;
      }
    }

    @media screen and (max-width: 620px) {
      display: none;
    }
  }
}
