* {
  font-family: Helvetica Neue Light;
}

*:focus {
  outline: none;
}

  a, a:visited {
  text-decoration: none;
}

body {
  overflow-x: hidden !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.slick-slide img {
  width:100%;
  margin:0 40px 0 0;
}

.slick-track {
  margin:0 auto;
}

// .slick-center:hover {
//   -webkit-transform: scale(1.25);
//   -moz-transform: scale(1.25);
//   transform: scale(1.25);
//   margin: 0 20px;
// }

// .slick-list { 
//   padding:45px 60px !important;
//   margin-left:30px !important;
// }