* {
  font-family: "Helvetica Neue Light", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
  border: none;
  cursor: pointer
}

*:focus {
  outline: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  margin: 0;
}

b, strong {
  font-family: "Helvetica Neue Bold", sans-serif;
}

a, a:visited {
  text-decoration: none;
}

body {
  overflow: auto;
  overflow-x: hidden;
}

section.section {
  padding-bottom: 90px;
}

section.section.first {
  padding-top: 90px;
}

section.section.last {
  padding-bottom: 70px;
}

@media screen and (max-width: 768px) {

  *, h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
  }

  #root {
    overflow: hidden;
  }

  section.section {
    padding-bottom: 60px;
  }

  section.section.first {
    padding-top: 60px;
  }

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  font-size: 56px;
  content: '-';
  font-family: 'Helvetica Neue Light', sans-serif;
}

// ---- for Grid Slider
#whiteGridSliderBg {
  display: none;
  width: 100%;
  height: 165px;
  background-color: #fff;
  position: absolute;
  top: -38px;
  left: 0;
  z-index: 1
}

@media screen and (max-width: 768px) {
  #whiteGridSliderBg {
    display: block;
  }
}

// END ---- for Grid Slider


//FORM start
input.input, textarea {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100% !important;
  display: block;
  padding: 20px 40px;
  font-size: 16px;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  transition: all 200ms;
  border: 0px solid transparent;
  resize: none;

  &.error {
    padding: 15px 40px 25px;
    border: 1px solid rgb(254, 218, 206);
  }

  &.success{
    background: #f8fff7;
    border: 1px solid rgba(0, 217, 0, 0.55);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10000;
    width: 30px;
    height: 30px;
    background: #000;
    top:0;
    right: 0;
  }

  &::placeholder {
    font-size: 14px;
    color: #b8b8b8;
  }

  @media screen and (max-width: 490px) {
    padding: 24px 40px !important;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    &.error {
      padding: 19px 40px 29px !important;

    }
  }

  & + .error {
    box-sizing: border-box;
    font-size: 12px;
    background: rgb(254, 218, 206);
    padding: 2px 20px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
    text-align: center;
    color: #000;
    border-radius: 0 0 5px 5px;
    margin-bottom: 0 !important;
  }

  textarea.input {
    min-height: 7em !important;
  }
}

// FORM end


// SWAL RESTYLE start
.swal2-popup {
  border-radius: .6125em !important;
  padding: 1.75em !important;

  .swal2-title {
    font-size: 1.575em !important;
  }
}

.swal2-popup .swal2-styled.swal2-confirm {
  border-radius: 50px !important;
  padding: 0.7rem 1.4rem !important;
  background: #ff6c39 !important;

  &:focus {
    box-shadow: 0 0 0 3px rgba(248, 147, 80, 0.68);
  }
}

.swal2-html-container {
  line-height: 1.2 !important;

  &:first-letter {
    text-transform: uppercase !important;

  }
}
// SWAL RESTYLE end

.rodal-popup {
  .rodal-dialog {
    box-sizing: border-box;
    border-radius: .6125em !important;
    padding: 2.9em 4.75em 2.45em !important;
    max-width: 430px !important;
    width: 100% !important;
    height: fit-content !important;
    background: #ffffff;
    box-shadow: none;
    @media (max-width: 480px) {
      max-width: calc(100% - 20px) !important;
      padding: 2.6em 10% 1.75em !important;
    }
  }

  p {
    margin: 0 auto !important;
    margin-bottom: 15px !important;
    text-align: center !important;
  }

  form {
    input, textarea {
      margin-bottom: 12px;
      @media (max-width: 768px) {
        padding: 19px 40px !important;
      }
    }
  }
}