.wrapper {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 63px;
  overflow: hidden;
  margin-bottom: -23px;
  padding-left: 20px;
}

@media screen and (max-width: 480px){
  .wrapper {
    padding-bottom: 37px;
    padding-left: 0;
  }
}