.card {
  width: calc(325px * 0.88);
  height: calc(485px * 0.88);
  position: relative;
  margin: 0 15px;
  border-radius: 5px;
  box-shadow: -14.444px 19.167px 27px 0px rgba(23, 23, 23, 0.14);
}

.card .img {
  border-radius: 5px;
  object-fit: cover;
  height: 100%;
}

.content {
  position: absolute;
  bottom: 20px;
  left: 25px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  transform-origin: 0 100% 0;
}

.content * {
  font-family: "Bebas Neue Book";
}

.subtitle {
  font-family: "Bebas Neue Bold";
  line-height: 0.9;
  margin: 0;
  width: 50px;
  font-size: 71px;
}

.subtitle:first-line {
  font-size: 47px;
}

.title {
  margin: 0 0 4px;
  font-family: "Bebas Neue Book";
  font-size: 19px;
}

.title1 {
  margin: 0 0 4px;
  font-family: "Bebas Neue Book";
  font-size: 19px;
}

.subtitle1 {
  font-family: "Bebas Neue Bold";
  line-height: 0.9;
  margin: 0;
  width: 50px;
  font-size: 39px;
}

.subsubtitle {
  font-family: "Bebas Neue Bold";
  font-size: 79px;
  margin: 0 0 20px;

}

.time {
  font-size: 52px;
  margin: 0 0 20px;

}

.time span {
  font-size: 13px;
  vertical-align: 26px;
  margin-left: 4px;
}

.campus {
  margin: 0;
  font-family: "Bebas Neue Book";
  font-size: 34px;
  line-height: 0.9;
  position: relative;
}

.campus:before {
  content: "";
  display: block;
  width: 105px;
  background-color: #fff;
  height: 1px;
  position: absolute;
  top: -20px;
  left: -25px;
}

.campus div {
  font-family: "Bebas Neue Bold";
  font-size: 29px;
  padding-left: 8px;
}


@media screen and (max-width: 480px) {
  .card {
    width: 65vw;
    height: calc(65vw * 1.4);
    position: relative;
    margin: 0 0 0 20px;
    box-shadow: -14.444px 19.167px 27px 0px rgba(23, 23, 23, 0.14);
  }

  .content {
    transform: scale(0.9);
  }

}

@media screen and (max-width: 425px) {
  .content {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 375px) {
  .content {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 320px) {
  .content {
    transform: scale(0.6);
  }
}



