$black: #171717;

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.bannerWrapper {
  position: relative;
  margin-top: 0;
  height: 800px;
  width: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
  //box-shadow: 0px 0px 40.94px 5.06px rgba(3, 7, 8, 0.09);
}

.flexWrapper {
  position: relative;
  display: flex;
}

.bgImg {
  position: absolute;
  right: -200px;
  top: 20px;
  z-index: -1;
  @media (max-width: 620px) {
    display: none;
  }
}

.leftSide {
  padding-top: 175px;
  padding-left: 20px;
  z-index: 1;
  position: relative;

}

.textBlock {
  color: $black;
}

.textBlock h2 {
  font-family: "Helvetica Neue Medium", sans-serif;
  font-size: 27px;
  margin-bottom: 18px;
  position: relative;
  width: fit-content;
}

.textBlock h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #171717;
  top: 40%;
  right: -73px;
}

.textBlock h1 {
  display: block;
  text-transform: uppercase;
  font-family: "Helvetica Neue Black", sans-serif;
  font-size: 84px;
}

.textBlock h1 span {
  display: block;
  text-transform: uppercase;
  font-family: "Helvetica Neue Black", sans-serif;
  font-size: 101px;
  line-height: 0.9;
}

.textBlock div {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 34px;
}

.rightSide {
  position: absolute;
  left: 45%;
}

.cirqles {
  position: absolute;
  top: 174px;
  left: -250px;
  z-index: 0;
}

.playBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 305px;
  left: 1px;
  border-radius: 50%;
  box-shadow: -10.261px 28.191px 57px 0px rgba(255, 108, 57, 0.41);
  width: 65px;
  height: 65px;
  background-color: #ff6c39;
  cursor: pointer;
  z-index: 1;
  transition: all 200ms;
}

.playBtn img {
  width: 23px;
  height: 23px;
}

.playBtn.play img {
  margin-left: 4px;
}

.playBtn:hover {
  background-color: #d45a2f;
}

@media screen and (max-width: 620px) {
  .playBtn {
    display: none;
  }
  .container {
    height: calc(100vh - 60px);
  }
  .rightSide {
    display: none;
  }
  .textBlock {
    color: #fff !important;
    margin-bottom: 135px;
  }
  .textBlock h2:after {
    background-color: #fff;
  }
  .leftSide {
    padding: 0;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    align-items: flex-end;
  }
  .flexWrapper {
    height: 100%;
  }
  .bannerWrapper {
    position: relative;
    width: 100vw;
    height: unset;
    background: none;
  }
  .container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center url(../../../../img/home-page/banner-mobile-img.jpg);
    background-size: cover;
    filter: brightness(0.7);
    z-index: -1;
  }
}

@media screen and (max-width: 490px) {
  .textBlock h1 {
    font-size: 12.6vw;
  }
  .textBlock h1 span {
    font-size: 18vw;
  }
  .textBlock h2 {
    font-size: 4.3vw;
  }
  .textBlock div {
    font-size: 6vw;
  }
}



